.createUser{
        background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
            overflow: hidden;
            height: 100vh;
}
.createINPUT{
    width: 500px;
    height: 50px;
    font-size: 25px;
}